
 .para {
     margin-top: 100px;
     margin-left: 0px;
 }   
    

body {
    position: relative;
    background-color: rgb(202, 201, 201);
    background-image: url( " Akshay.JPG" );
    background-repeat: no-repeat;
    background-position: right top;
}